<div class="container">
      <div class="header">
        <h1>Provider Schedule</h1>
        <hr>
        <h1 class="lead">Setup your schedule</h1>
      </div>

      <div class="provider-form">
        <form>
          <div class="form-group">
            <input type="text" class="form-control input-lg" placeholder="Enter text..." ng-model="formData.text">
          </div>
          <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="createTodo()">Add Todo</button>
        </form>
      </div>

</div>