<div class="container" if-user-state-known>
    <h2 class="text-center" if-not-user>Welcome!</h2>
    <h2 class="text-center" if-user>Welcome, {{user.fullName}}!</h2>
    <hr>
    <div class="jumbotron">
        <p>
            <strong>Squire Scheduling</strong>
        </p>
        <div if-user>
            <p>Dashboard</p>
        </div>
        <div if-not-user>
            <p>
                Squire - The provider and consumer schedule wire-up
            </p>
            <p>
                <span>Ready to begin? You'll need to</span>
                <a href="/login">Login</a>
                <span>or</span>
                <a href="/register">Create an Account</a>
                <span>.</span>
            </p>
        </div>
    </div>
	<div if-user>
		Content coming here
        <div class="my-schedule">
          <ul ng-repeat="schedule in scheduleData track by $index">
            <li><h3><input class="lead" type="checkbox" ng-click="deleteSchedule(schedule.id)">&nbsp;{{ schedule.text }}</li></h3><hr>
          </ul>
        </div>
	</div>
</div>