
<div>
  <form name="dateForm">
      <div class="form-group" ng-class="{'has-error': dateForm.dt.$invalid}">
        <label>Date</label>
        <div class="input-group">
          <input type="text" 
                 class="form-control" 
                 uib-datepicker-popup="{{format}}" 
                 ng-model="dt" 
                 is-open="popup1.opened" 
                 min-date="minDate" 
                 datepicker-options="dateOptions" 
                 ng-required="true" 
                 close-text="Close"
                 alt-input-formats="altInputFormats"
                 name="dt"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </div>
      </div>
    </form>
</div>

<h4>Available Sessions Today</h4>
<table class="table consumer">
    <tr>
      <td>Time</td>
      <td>Select</td>
      <td>Remove</td>
    </tr>
    <tr ng-repeat="nut in nuts">
      <td><label for="time">{{nut.hour}}:</label></td>
      <td><a class="btn btn-primary"  ng-click="pick(nut)">Pick</a></td>
      <td><a class="btn btn-danger"  ng-click="deleteNut(nut)">Delete</a></td>
    </tr>
</table>

<pre>nuts = {{nuts | json}}</pre>
<pre>schedule = {{schedule | json}}</pre>
