
<!-- partial-provider-edit.html -->
<div>
    <form>
    <div class="form-provider-group">
        <label for="name">Name(i.e. 'Guitar Lessons'):</label>
        <input type="text" class="form-control" ng-model="name">
        <label for="name">Provider Id:</label>
        <input type="text" class="form-control" ng-model="providerId">
    </div>
    
    <div class="text-center">
        <h3>Submit!</h3>
        
        <button type="submit" class="btn btn-primary" ng-click="processForm()">Submit</button>
        <a class="btn btn-danger" ui-sref="consumer.index">Discard</a>
    </div>
    </form> 

  <pre>providers = {{providers | json}}</pre>
  <pre>schedules = {{schedules | json}}</pre>
    <pre>master = {{master | json}}</pre>

</div>