<div ng-include="'components/navbar/navbar.html'"></div>

<header if-not-user class="hero-unit" id="banner">
  <div class="container">
    <h1>'Get Wired!</h1>
    <p class="lead">Kick-start your group</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    <div if-user class="col-lg-12">
      <h1 class="page-header">Upcoming</h1>

      <table class="table consumer">
        <tr>
          <td>Consumer</td>
          <td>Date</td>
          <td>Time</td>
          <td>Remove</td>
        </tr>
        <tr ng-repeat="wire in wires">
          <td><a ui-sref="consumer.schedule({cid: wire.cid})">{{wire.name}}</a></td>
          <td>{{wire.date | date:'EEEE, MMMM d, y'}}</td>
          <td>{{wire.hour}}</td>
          <td><a class="btn btn-danger"  ng-click="deleteWire(wire.wid)">Delete</a></td>
        </tr>
    </table>
	  
    </div>
  </div>
</div>

<div ui-view></div>
<br>

<pre>wiredgroup = {{wiredgroup | json}}</pre>
<pre>wires = {{wires | json}}</pre>
<pre>user = {{user | json}}</pre>

<footer class="footer">
  <div class="container">
      <p>wireNUT v0.1 |
        <a href="http://rj905.net/">@rj905</a> |
         <a href="https://github.com/blueguitarenator/angular_stormpath/issues?state=open">Issues</a></p>
  </div>
</footer>
