<h3>Setup a one-time event</h3>


<div>

      <div class="form-group" ng-class="{'has-error': dateForm.dt.$invalid}">
        <div class="radio" ng-repeat="invite in consumers">
          <label>{{invite.name}}</label>
          <input type="radio" ng-model="activeConsumer.consumer" ng-value="invite"/>
        </div>
        <br />

        <div class="form-message">
          <label for="message">Message:</label>
          <input type="text" class="form-control" ng-model="evt.message">
        </div>

        <label>Date</label>
        <div class="input-group">
          <input type="text" 
                 class="form-control" 
                 uib-datepicker-popup="{{format}}" 
                 ng-model="evt.date" 
                 is-open="popup1.opened" 
                 min-date="minDate" 
                 datepicker-options="dateOptions" 
                 ng-required="true" 
                 close-text="Close"
                 alt-input-formats="altInputFormats"
                 name="evt.date"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </div>
      </div>
      <div uib-timepicker ng-model="evt.date" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>

      <pre class="alert alert-info">Time is: {{evt.date | date:'shortTime' }}</pre>

      <div class="text-center">
        <h3>Submit!</h3>
        
        <button type="submit" class="btn btn-primary" ng-click="processForm()">Submit</button>
        <a class="btn btn-danger" ui-sref="provider.pview.sview.onceView">Discard</a>
     </div>
    </form>
</div>
Selected Consumer:{{activeConsumer.consumer.name}} | {{activeConsumer.consumer.stormId}} | {{activeConsumer.consumer.id}}


  <!--<div class="row"> 
    <div class="col-xs-6">
        Hours step is:
      <select class="form-control" ng-model="hstep" ng-options="opt for opt in options.hstep"></select>
    </div>
    <div class="col-xs-6">
        Minutes step is:
      <select class="form-control" ng-model="mstep" ng-options="opt for opt in options.mstep"></select>
    </div>
  </div>-->

  <hr>

  <!--<button type="button" class="btn btn-info" ng-click="toggleMode()">12H / 24H</button>
  <button type="button" class="btn btn-default" ng-click="update()">Set to 14:00</button>
  <button type="button" class="btn btn-danger" ng-click="clear()">Clear</button>-->
<pre> activeConsumer.consumer = {{activeConsumer.consumer | json}}</pre>
<pre> consumers = {{consumers | json}}</pre>
<pre> evt = {{evt | json}}</pre>
