<!-- partial-provider-index.html -->
<h3>Provider</h3>
<table class="table movietable">
    <tr>
    <td><h3>  </h3></td>
    <td></td>
    </tr>
    <tr ng-repeat="provider in providers">
    <td>{{provider.name}}</td>
    <td>
        <div rj-provider-type provider="provider"></div>
        <!--<a class="btn btn-primary" ui-sref="provider.pview({pid: provider.id})">View</a>
        <a class="btn btn-danger"  ng-click="deleteProvider(provider)">Delete</a>
        <a class="btn btn-primary"  ui-sref="provider.pview.schedule({pid: provider.id})">Schedules</a>-->
    </td>
    </tr>
</table>
</br>


<a class="btn btn-primary" ui-sref="provider.create">Create a new Provider</a>

