<!-- partial-provider-schedule.html -->

<div>
    <form>
    <div class="form-provider-group">
        <label for="name">Schedule Name:</label>
        <input type="text" class="form-control" ng-model="providers.schedules[0].name">
    </div>
    <div class="form-provider-group">
        <label for="sunday">Sunday:</label>
        <input type="text" class="form-control" ng-model="providers.schedules[0].sunday">
    </div>
    <div class="form-provider-group">
        <label for="monday">Monday:</label>
        <input type="text" class="form-control" ng-model="providers.schedules[0].sunday">
    </div>
    <label>Does Schedule Repeat?</label>
    <div class="form-group">
    <div class="radio">
        <label>
           <input type="radio" ng-model="providers.schedules[0].repeat" value="true" checked>
           Yes
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" ng-model="providers.schedules[0].repeat" value="false">
            No
        </label>
    </div>
    <a ui-sref="provider.submit" class="btn btn-block btn-info">
        Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
    </form>
</div>

    <pre>providers = {{providers | json}}</pre>
    <pre>master = {{master | json}}</pre>
