<div>
    <h3>Schedules</h3>


<table class="table">
    <tr ng-repeat="row in schedules">
    <td>{{row.name}}</td>
    <td>
        <a class="btn btn-primary" ui-sref="provider.pview.sview.dayView({pid: provider.id, sid: row.id, day: 'Sunday'})">View</a>
        <a class="btn btn-danger"  ng-click="deleteSchedule(row)">Delete</a>
    </td>
    </tr>
</table>
</br>

<a class="btn btn-primary" ui-sref="provider.pview.create">Create a new Schedule</a>


<pre>schedules = {{schedules | json}}</pre>