<div>
    <h3>Hours</h3>


<!--<table class="table movietable">
    <tr>
    <td><h3>  </h3></td>
    <td></td>
    </tr>
    <tr ng-repeat="row in days">
    <td>{{row.name}}</td>
    <td>
        <a class="btn btn-primary" ui-sref="provider.pview.schedule.view({pid: provider.id, sid: row.id})">View</a>
        <a class="btn btn-danger"  ng-click="deleteProvider(provider)">Delete</a>
        <a class="btn btn-primary"  ui-sref="provider.pview.scheduleList({pid: provider.id})">Hours</a>
    </td>
    </tr>
</table>
</br>-->



<!--<a class="btn btn-primary" ui-sref="provider.create">Create a new Provider</a>-->


<pre>days = {{days | json}}</pre>