

<!-- partial-provider-schedule-view.html -->
<div>

    <form>
    <div class="form-provider-group">
        <label for="name">Schedule Name:</label>
        <input type="text" class="form-control" ng-model="schedule.name">
    </div>

    <input type="hidden" ng-model="providerId" value="{{providerId}}"/>
    <div class="text-center">
    
        <h3>Submit!</h3>
        
        <button type="submit" class="btn btn-primary" ng-click="processForm()">Submit</button>
        <a class="btn btn-danger" ui-sref="provider.pview.schedule({pid: providerId)}">Discard</a>
    </div>
    </form> 
    


</div>
</br>


</br>
  <pre>schedule = {{schedule | json}}</pre>