<div>
    <h3> Schedules </h3>
    <input type="hidden" ng-model="providerId" value="{{providerId}}"/>
    <table class="table schedules">
        <tr>
        <td><h3>  </h3></td>
        <td></td>
        </tr>
        <tr ng-repeat="item in schedules">
        <td>{{item.name}}</td>
        <td>
            <a class="btn btn-primary" ui-sref="provider.view.viewSchedule({id: providerId, sid: item.id})">View</a>
            <a class="btn btn-danger"  ng-click="deleteSchedule(item)">Delete</a>
        </td>
        </tr>
    </table>
</div>

<pre>schedules = {{schedules | json}}</pre>