<h1>Schedules</h1>

<form name="scheduleForm">
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Repeat</th>
            <th>Created</th>
            <th>Updated</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in schedules">
            <td><label><input type="radio" name="scheduleForm" ng-model="value" ng-click='newValue(value)' value="{{row.name}}">{{row.name}}</label></td>
            <td>{{row.repeat}}</td>
            <td>{{row.createdAt}}</td>
            <td>{{row.updatedAt}}</td>
        </tr>
    </tbody>
</table>
</form>

<hr>


<div ui-view>
    <!-- Third Level -->
</div>